/*
*   Colors
*/

@black: #162f37;
@white: #FFFFFF;
@white-faded-strong: rgba(255,255,255,0.25);
@white-faded: rgba(255,255,255,0.1);
@gray: #6b7888;
@blue-dark: #354f58;
@blue-medium: #354f58;
@primary: rgb(0, 165, 189);
@aqua-dark: #009cb3;
@aqua-light: #00dfff;
@green: rgb(59, 233, 143);
@red: rgb(233, 95, 59);
