/*
*   Button
*/
.button-style-template(@name; @bg-color; @text-color) {
    .button.button--@{name} {
        background: @bg-color;
        color: @text-color;

        &.button--border {
            background: rgba(0,0,0,0);
            color: @bg-color;
            border: solid 1px @bg-color;
            box-shadow: none !important;

            &:hover {
                transform: scale(1.05) !important;
            }
        }
    }
}
// Base button
.button {
    display: inline-block;
    vertical-align: baseline;
    appearance: none;
    border-radius: 999px;
    border: none;
    font-size: @font-size-base - 2;
    font-weight: 600;
    line-height: 1;
    height: @height-md;
    padding: 0 @spacing-sm;
    box-shadow: 0 @spacing-min/2 @spacing-sm/2 0 fade(@gray, 50%);
    transition: all 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    .poppins;

    &:hover {
        transform: translate(0, -@spacing-min/2);
        box-shadow: 0 @spacing-min @spacing-sm/2 0 fade(@gray, 50%);
    }

    &.button--size-sm {
        padding: 0 @spacing-sm;
        height: @height-sm;
        font-size: @font-size-sm;
    }
    &.button--size-lg {
        padding: 0 @spacing-lg*2;
        height: @height-lg;
    }
}
.button-style-template(primary, @primary, @white);
.button-style-template(secondary, @white, @primary);
.button-style-template(success, @green, @white);
.button-style-template(danger, @red, @white);

/*
*   Input & Textarea
*/
.input {
    border: none;
    line-height: normal;
    border-radius: @border-radius;
    padding: @spacing-min;
    height: @height-md;
    font-size: @font-size-base;

    &.input--size-sm {
        font-size: @font-size-sm;
        height: @height-sm;
    }
    &.input--size-lg {
        font-size: @font-size-lg;
        height: @height-lg;
    }
}

/*
*   Loading
*/
.loader {
    display: inline-block;
    width: @height-lg;
    height: @height-lg;
    overflow: hidden;
    vertical-align: bottom;

    &.loader--size-sm {
        width: @height-sm;
        height: @height-sm;
    }
    &.loader--size-md {
        width: @height-md;
        height: @height-md;
    }
 }
