/*
*   Layout
*/
@breakpoint-lg: 1200px;
@breakpoint-md: 800px;
@breakpoint-sm: 600px;
@spacing-lg: 80px;
@spacing-md: 60px;
@spacing-sm: 20px;
@spacing-min: 5px;
@height-lg: 60px;
@height-md: 40px;
@height-sm: 30px;
@border-radius: 2px;

/*
*   Grid
*/
.grid {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}
.grid--padding-lg {
    .responsive-property(padding, @spacing-lg*0.5, @spacing-lg*0.75, @spacing-lg);
}
.grid--padding-md {
    .responsive-property(padding, @spacing-md*0.5, @spacing-md*0.75, @spacing-md);
}
.grid--padding-sm {
    .responsive-property(padding, @spacing-sm, @spacing-sm, @spacing-sm);
}
.grid--padding-min {
    .responsive-property(padding, @spacing-min, @spacing-sm, @spacing-sm);
}
.grid--h-padding-lg {
    padding-left: @spacing-lg;
    padding-right: @spacing-lg;
}
.grid--h-padding-md {
    padding-left: @spacing-md;
    padding-right: @spacing-md;
}
.grid--h-padding-sm {
    padding-left: @spacing-sm;
    padding-right: @spacing-sm;
}
.grid--v-padding-lg {
    padding-top: @spacing-lg;
    padding-bottom: @spacing-lg;
}
.grid--v-padding-md {
    padding-top: @spacing-md;
    padding-bottom: @spacing-md;
}
.grid--v-padding-sm {
    padding-top: @spacing-sm;
    padding-bottom: @spacing-sm;
}
.grid--no-padding-horizontal {
    padding-left: 0;
    padding-right: 0;
}
.grid--no-padding-vertical {
    padding-top: 0;
    padding-bottom: 0;
}
.grid--no-padding-bottom {
    padding-bottom: 0;
}
.grid--no-padding-top {
    padding-top: 0;
}
.grid--bg-color-blue {
    background-color: rgba(34, 72, 85, 0.9);
}
.grid--bg-color-gray {
    background-color: rgb(250, 250, 250);
}
.grid--direction-column {
    flex-direction: column;
}
.grid--direction-row {
    flex-direction: row;
}
.grid--align-center {
    align-items: center;
    justify-content: center;
}
.grid--stretch {
    flex: 1;
    align-self: stretch;
}
.grid--vertical-align-center {
    justify-content: center;
}
.grid--horizontal-align-center {
    align-items: center;
}
.grid--space-around {
    justify-content: space-around;
}
.grid--space-between {
    justify-content: space-between;
}
.grid--fixed {
    flex: 0;
}
.grid--weight-1 {
    flex: 1;
}
.grid--weight-2 {
    flex: 2;
}
.grid--weight-3 {
    flex: 3;
}

.grid--image-meeting::before {
    background-size: cover;
    background-position: top center;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('https://static.mentimeter.com/assets/why-headline-background-03b824510457b20bba1639807ff39498.png');
}
