/*
*   Responsive helpers
*   Mobile first.
*/

.responsive(@rules-sm; @rules-md; @rules-lg) {
    @rules-sm();

    @media (min-width: @breakpoint-sm) {
        @rules-sm();
    }
    @media (min-width: @breakpoint-md) {
        @rules-md();
    }
    @media (min-width: @breakpoint-lg) {
        @rules-lg();
    }
}

.responsive-property(@prop; @value-sm; @value-md; @value-lg) {
    @{prop}: @value-sm;

    @media (min-width: @breakpoint-sm) {
        @{prop}: @value-sm;
    }
    @media (min-width: @breakpoint-md) {
        @{prop}: @value-md;
    }
    @media (min-width: @breakpoint-lg) {
        @{prop}: @value-lg;
    }
}
