/*
*   Basic Typography
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

// Variables
@font-size-base: 16px;
@font-size-lg: 22px;
@font-size-sm: 13px;
@line-height-base: 1.5;

body, * {
    font-size: @font-size-base;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*
*   Headings
*/
@h1-size: 52px;
@h2-size: 29.64px;
@h3-size: 20px;
@h4-size: 16px;
@h5-size: 13.5px;
@h6-size: 12px;;
.poppins {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, {
    font-weight: 600;
    color: @blue-dark;
    letter-spacing: -.03em;
    line-height: 1.3;
    .poppins;

    &:first-child {
        margin-top: 0;
    }
}
h1, .h1 {
    .responsive-property(font-size, @h1-size*0.75, @h1-size, @h1-size);
    margin-top: @h1-size;
}
h2, .h2 {
    .responsive-property(font-size, @h2-size*0.75, @h2-size, @h2-size);
    margin-top: @h2-size;
}
h3, .h3 {
    .responsive-property(font-size, @h3-size*0.75, @h3-size, @h3-size);
    margin-top: @h3-size;
}
h4, .h4 {
    .responsive-property(font-size, @h4-size*0.75, @h4-size, @h4-size);
    margin-top: @h4-size;
}
h5, .h5 {
    .responsive-property(font-size, @h5-size*0.75, @h5-size, @h5-size);
    margin-top: @h5-size;
}
h6, .h6 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: @h6-size;
}

/*
*   Anchor
*/
.animated-a(@color) {
    color: @color;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: @color;
        visibility: hidden;
        transform: scaleX(0);
        transition: all .15s ease-in;
    }
    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}
a {
    color: @blue-dark;
    &:hover {
        color: @blue-medium;
    }
}
a.animated {
    .animated-a(@blue-dark);
    &.animated-color--light {
        .animated-a(@aqua-light);
    }
}

/*
*   Body
*/
p {
    .responsive-property(font-size, 0.9rem, 1rem, 1rem);
    line-height: @line-height-base;
    color: @gray;
}
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p,
.h1 + p, .h2 + p, .h3 + p, .h4 + p, .h5 + p, .h6 + p,
h1 + .p, h2 + .p, h3 + .p, h4 + .p, h5 + .p, h6 + .p,
.h1 + .p, .h2 + .p, .h3 + .p, .h4 + .p, .h5 + .p, .h6 + .p,
p + p, .p + p, p + .p {
    margin-top: @spacing-sm;
}
.t--color-white {
    color: @white;
}
.t--color-gray {
    color: @gray;
}
.t--color-primary {
    color: @primary;
}
.t--size-sm {
    font-size: @font-size-sm;
}
.t--style-meta {
    color: @white;
    font-size: @font-size-sm;
    font-weight: 400;
}
.t--align-center {
    text-align: center;
}
