/*
*   Univeral classes prefixed with u--
*/

// Fix height and leveling
.u--height-fixed-sm {
    display: inline-block;
    height: @height-sm;
    line-height: @height-sm;
    overflow: hidden;
    margin: 0;
}
.u--height-fixed-md {
    display: inline-block;
    height: @height-md;
    line-height: @height-md;
    overflow: hidden;
    margin: 0;
}
.u--height-fixed-lg {
    display: inline-block;
    height: @height-lg;
    line-height: @height-lg;
    overflow: hidden;
    margin: 0;
}
