@import (reference) '../../less/build.less';
/*
*   Code Input
*/
#access-presentation {
    #access-presentation-content {
        opacity: 0;
        animation: fadeIn 0.75s ease forwards;
        animation-delay: 0.1s;
    }
    .input {
        .poppins;
        opacity: 0;
        color: @blue-dark;
        .responsive({
            height: @height-lg;
            width: @height-lg;
        }, {
            height: @height-lg*1.25;
            width: @height-lg*1.25;
            font-size: @font-size-lg*1.25;
        }, {
            height: @height-lg*1.5;
            width: @height-lg*1.5;
            font-size: @font-size-lg*1.5;
        });
        text-align: center;
        font-weight: 600;
        background: @white-faded;
        color: @white;

        & + .input {
            margin-left: @spacing-min*1.5;
        }

        &::placeholder {
            color: @white-faded-strong;
            //line-height: normal;
        }
    }

    .input:nth-child(1) {
        animation: flowin 1s ease forwards;
    }
    .input:nth-child(2) {
        animation: flowin 1s ease forwards;
        animation-delay: 0.1s;
    }
    .input:nth-child(3) {
        animation: flowin 1s ease forwards;
        animation-delay: 0.2s;
    }
}

#code-input-container {
    width: 100%;
    display: flex;
    overflow: visible;
    justify-content: center;
    transition: all 0.25s ease;

    &.state-loading {
        .responsive-property(margin-top, -@height-lg, -@height-lg*1.25, -@height-lg*1.5);
        opacity: 0;
    }
    // Not used
    &.state-error {
    }
}

@keyframes flowin {
    0% {
        opacity: 0;
        transform: translateY(-@spacing-sm);
    }
    30% {
        opacity: 0;
    }
    100%   {
        opacity: 1;
        transform: translateY(0);
    }
}

#code-input {
    min-height: 66.66667vh;
}
